.filters-view {
  padding: 2rem 0;
  background: $thirdary_color;

  button {
    padding: 0.65rem 1.5rem;
    margin: 2.1rem 0 0 2rem;
    color: $basic_white;
    background: $primary_color;
    border-color: $primary_color;
    font-size: 1.4rem;
  }
}
