.list-view {
  &__container {
    margin-top: 5rem;
  }

  &__header {
    margin-bottom: 5rem;
    color: $basic_grey;
    font-size: 1.8rem;

    span {
      color: $primary_color;
    }
  }

  &__content {
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
