.welcome-ui {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $basic_white;
  animation: fadeOut 0.4s 1.8s ease-in-out forwards;

  > div {
    width: 35rem;
    max-width: 90%;
  }

  img,
  span {
    width: 100%;
  }

  img {
    opacity: 0;
    animation: fadeInAppear 0.4s 0.8s ease-in-out forwards;
  }

  span {
    display: block;
    max-width: 0;
    height: 5px;
    margin-top: 1rem;
    animation: widthAnimation 0.8s 1s ease-in-out forwards;

    @include gradientBackground(right);
  }
}
