html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-family: $primary_font;
  letter-spacing: 0.08em;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

button,
input,
select {
  outline: none;
}
