/*
* Fonts
*/
$primary_font: 'Lato', 'Arial';
$secondary_font: 'Times New Roman';

/*
* Colors
*/
// Main colors
$primary_color: #262959;
$secondary_color: #b01aa7;
$thirdary_color: #f1f1f1;

// Basic colors
$basic_black: #000;
$basic_white: #fff;
$basic_grey: #989898;
